body{
background-image: url(//i.gifer.com/WBVk.gif);
text-align: center;

}
.text{

color: white;

}

.titulo{
    color: brown;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
.borda{
    margin-left: 43%;
    width: 230px;
    border: 3px solid white ;
    border-radius: 200x ;


}
.nomizin{

   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
